# MongoDB
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.mongodb.net/?appName=Cluster0

# JWT
JWT_SECRET=bu_yerga_kamida_64_belgili_tasodifiy_matn_kiriting_masalan_openssl_rand

# Admin
ADMIN_USERNAME=admin
ADMIN_PASSWORD=<birinchi_parolingiz>

# Telegram
BOT_TOKEN=<telegram_bot_token>
CHANNEL_USERNAME=@kiu_uz

# URLs
FRONTEND_URL=https://kiu-university.vercel.app
BACKEND_URL=https://kiu-backend-9fwp.onrender.com
PORT=5000